In [37]:
import pandas as pd

In [38]:
#Import flight data csv
flightdata_file="Resources/CompleteData.csv"

In [39]:
#Read csv file with Pandas
flightdata_df=pd.read_csv(flightdata_file)

flightdata_df.head(100)

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,8.89,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,0.61,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,0.61,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,18.28,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-01-01,16,AA,1154,AA,1154,N920US,PHX,MCO,2022-01-01 16:43:00,...,1.72,58.75,29.94,10000.0,1.0,0.0,1.0,0.0,1.0,0.0
96,2022-01-01,5,AA,1156,AA,1156,N176UW,PHX,ORD,2022-01-01 05:54:00,...,10.00,80.52,29.64,1000.0,3.0,1.0,1.0,0.0,4.0,1.0
97,2022-01-01,18,AA,1158,AA,1158,N943NN,DCA,DFW,2022-01-01 18:39:00,...,13.89,93.07,29.73,500.0,1.0,1.0,0.0,0.0,4.0,1.0
98,2022-01-01,0,AA,1159,AA,1159,N869NN,MIA,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022-01-01,21,AA,116,AA,116,N834AA,OGG,DFW,2022-01-01 21:26:00,...,20.00,64.69,29.89,3500.0,1.0,1.0,0.0,0.0,1.0,0.0

In [40]:
#list of all columns
flightdata_df.columns

Index(['FL_DATE', 'DEP_HOUR', 'MKT_UNIQUE_CARRIER', 'MKT_CARRIER_FL_NUM',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'TAIL_NUM', 'ORIGIN', 'DEST',
       'DEP_TIME', 'CRS_DEP_TIME', 'TAXI_OUT', 'DEP_DELAY', 'AIR_TIME',
       'DISTANCE', 'CANCELLED', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'MESONET_STATION', 'YEAR OF MANUFACTURE', 'MANUFACTURER', 'ICAO TYPE',
       'RANGE', 'WIDTH', 'WIND_DIR', 'WIND_SPD', 'WIND_GUST', 'VISIBILITY',
       'TEMPERATURE', 'DEW_POINT', 'REL_HUMIDITY', 'ALTIMETER',
       'LOWEST_CLOUD_LAYER', 'N_CLOUD_LAYER', 'LOW_LEVEL_CLOUD',
       'MID_LEVEL_CLOUD', 'HIGH_LEVEL_CLOUD', 'CLOUD_COVER', 'ACTIVE_WEATHER'],
      dtype='object')

In [41]:
flightdata_df.describe

<bound method NDFrame.describe of             FL_DATE  DEP_HOUR MKT_UNIQUE_CARRIER  MKT_CARRIER_FL_NUM  \
0        2022-01-01         6                 AA                   1
1        2022-01-01         8                 AA                  10
2        2022-01-01         0                 AA                1003
3        2022-01-01         9                 AA                1004
4        2022-01-01        23                 AA                1007
...             ...       ...                ...                 ...
6954631  2022-12-31        12                 WN                 994
6954632  2022-12-31        19                 WN                 997
6954633  2022-12-31         0                 WN                 998
6954634  2022-12-31        10                 WN                 999
6954635  2022-12-31         7                 WN                 999

        OP_UNIQUE_CARRIER  OP_CARRIER_FL_NUM TAIL_NUM ORIGIN DEST  \
0                      AA                  1   N106NN    JFK  LAX
1                      AA                 10   N101NN    LAX  JFK
2                      AA               1003   N830NN    STL  ORD
3                      AA               1004   N805NN    ORD  FLL
4                      AA               1007   N870NN    CLT  STL
...                   ...                ...      ...    ...  ...
6954631                WN                994   N8566Z    PHX  ABQ
6954632                WN                997   N486WN    MEM  MCO
6954633                WN                998   N448WN    SFO  BUR
6954634                WN                999   N7836A    ATL  MIA
6954635                WN                999   N7836A    IND  ATL

                    DEP_TIME  ... DEW_POINT  REL_HUMIDITY  ALTIMETER  \
0        2022-01-01 06:57:00  ...      8.89         96.69      29.92
1        2022-01-01 08:57:00  ...      0.61         44.92      29.87
2        2022-01-01 00:00:00  ...       NaN           NaN        NaN
3        2022-01-01 09:37:00  ...      0.61         89.09      29.75
4        2022-01-01 23:00:00  ...     18.28         89.81      29.79
...                      ...  ...       ...           ...        ...
6954631  2022-12-31 12:37:00  ...      8.28         85.48      30.02
6954632  2022-12-31 19:19:00  ...     11.72         90.29      29.95
6954633  2022-12-31 00:00:00  ...     14.39         89.52      29.91
6954634  2022-12-31 10:23:00  ...     12.22         93.32      30.02
6954635  2022-12-31 07:57:00  ...      6.72         96.63      29.89

         LOWEST_CLOUD_LAYER  N_CLOUD_LAYER  LOW_LEVEL_CLOUD  MID_LEVEL_CLOUD  \
0                     300.0            2.0              1.0              0.0
1                    4800.0            1.0              1.0              0.0
2                       NaN            NaN              NaN              NaN
3                     500.0            1.0              1.0              0.0
4                    1500.0            3.0              1.0              0.0
...                     ...            ...              ...              ...
6954631              5000.0            2.0              1.0              1.0
6954632               700.0            1.0              1.0              0.0
6954633               700.0            3.0              1.0              0.0
6954634              8500.0            3.0              0.0              1.0
6954635               400.0            1.0              1.0              0.0

         HIGH_LEVEL_CLOUD  CLOUD_COVER ACTIVE_WEATHER
0                     0.0          4.0            0.0
1                     0.0          2.0            0.0
2                     NaN          NaN            NaN
3                     0.0          4.0            1.0
4                     1.0          3.0            0.0
...                   ...          ...            ...
6954631               0.0          3.0            0.0
6954632               0.0          4.0            0.0
6954633               0.0          4.0            0.0
6954634               1.0          4.0            0.0
6954635               0.0          4.0            1.0

[6954636 rows x 40 columns]>

In [42]:
na_df = flightdata_df.isna().sum()
na_df

FL_DATE                    0
DEP_HOUR                   0
MKT_UNIQUE_CARRIER         0
MKT_CARRIER_FL_NUM         0
OP_UNIQUE_CARRIER          0
OP_CARRIER_FL_NUM          0
TAIL_NUM                   0
ORIGIN                     0
DEST                       0
DEP_TIME                   0
CRS_DEP_TIME               0
TAXI_OUT                   0
DEP_DELAY                  0
AIR_TIME                   0
DISTANCE                   0
CANCELLED                  0
LATITUDE                   0
LONGITUDE                  0
ELEVATION                  0
MESONET_STATION            0
YEAR OF MANUFACTURE        0
MANUFACTURER               0
ICAO TYPE                  0
RANGE                      9
WIDTH                      0
WIND_DIR               32789
WIND_SPD               32789
WIND_GUST              32789
VISIBILITY             32789
TEMPERATURE            32789
DEW_POINT              32789
REL_HUMIDITY           32789
ALTIMETER              32789
LOWEST_CLOUD_LAYER     32789
N_CLOUD_LAYER          32789
LOW_LEVEL_CLOUD        32789
MID_LEVEL_CLOUD        32789
HIGH_LEVEL_CLOUD       32789
CLOUD_COVER            32789
ACTIVE_WEATHER         32789
dtype: int64

In [89]:
#Working Project df with valuable data
Project_flightdata_df=flightdata_df[['FL_DATE','OP_UNIQUE_CARRIER','ORIGIN', 'DEST','DEP_TIME', 'CRS_DEP_TIME', 'TAXI_OUT', 'DEP_DELAY', 'AIR_TIME',
       'DISTANCE', 'CANCELLED','TAIL_NUM','ICAO TYPE', 'YEAR OF MANUFACTURE','TEMPERATURE', 'CLOUD_COVER', 'ACTIVE_WEATHER']]

Project_flightdata_df.head()

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,DEST,DEP_TIME,CRS_DEP_TIME,TAXI_OUT,DEP_DELAY,AIR_TIME,DISTANCE,CANCELLED,TAIL_NUM,ICAO TYPE,YEAR OF MANUFACTURE,TEMPERATURE,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,AA,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,AA,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
2,2022-01-01,AA,STL,ORD,2022-01-01 00:00:00,2022-01-01 07:05:00,0,0,0,258,2,N830NN,B738,2010,NaN,NaN,NaN
3,2022-01-01,AA,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,AA,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0

In [90]:
#Renaming Columns
Project_flightdata_df= Project_flightdata_df.rename(columns={'FL_DATE': 'Flight Date', 'OP_UNIQUE_CARRIER': 'Carrier','DEST':'Destination','DEP_TIME':'Departure Time','CRS_DEP_TIME':'CRS Departure Time','TAXI_OUT':'Taxi Out','DEP_DELAY':'Departure Delay','AIR_TIME':'Air Time','DISTANCE':'Distance','CANCELLED':'Cancelled','TAIL_NUM':'Tail Number','ICAO TYPE':'ICAO Type', 'YEAR OF MANUFACTURE':'Manufacture Year','TEMPERATURE':'Temperature','CLOUD_COVER':'Cloud Cover','ACTIVE_WEATHER':'Active Weather'})

In [91]:
na_df2=Project_flightdata_df.isna().sum()
na_df2

Flight Date               0
Carrier                   0
ORIGIN                    0
Destination               0
Departure Time            0
CRS Departure Time        0
Taxi Out                  0
Departure Delay           0
Air Time                  0
Distance                  0
Cancelled                 0
Tail Number               0
ICAO Type                 0
Manufacture Year          0
Temperature           32789
Cloud Cover           32789
Active Weather        32789
dtype: int64

In [92]:
#Cleaned Flight Dataset
Clean_flightdata_df=Project_flightdata_df.dropna()
Clean_flightdata_df

,Flight Date,Carrier,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,AA,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,AA,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,AA,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,AA,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,AA,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,WN,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,WN,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,WN,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,WN,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,WN,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0

In [93]:
Clean_flightdata_df['Carrier'].unique()

array(['AA', 'OO', 'MQ', 'YX', 'OH', 'YV', 'PT', 'AS', 'QX', 'B6', 'DL',
       '9E', 'F9', 'G4', 'HA', 'NK', 'UA', 'ZW', 'G7', 'C5', 'WN'],
      dtype=object)

In [94]:
Clean_flightdata_df

,Flight Date,Carrier,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,AA,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,AA,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,AA,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,AA,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,AA,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,WN,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,WN,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,WN,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,WN,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,WN,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0

In [87]:
Clean_flightdata_df['Carrier']=Clean_flightdata_df['Carrier'].replace({'AA': 'American Airlines', 'OO': 'SKYWEST','MQ':'Envoy Air', 'YX':'Republic Airways', 'OH':'PSA Airlines', 'YV':'Mesa Airlines', 'PT':'Piedmont Airlines', 'AS':'Alaska Airlines', 'QX':'Horizon Air', 'B6':'JetBlue', 'DL':'Delta Airlines',
       '9E':'Endeavor Air', 'F9':'Frontier Flight', 'G4':'Allegiant Air', 'HA':'Hawaiian Airlines', 'NK':'Spirit Airlines', 'UA':'United Airlines', 'ZW':'Air Wisconsin', 'G7':'Gojet', 'C5':'Commute Air', 'WN':'Southwest Air'})

Clean_flightdata_df

c:\Users\gianc\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Flight Date,Carrier,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,LATITUDE,LONGITUDE,Tail Number,ICAO Type,Year of Manufacture,Temperature,Cloud Cover,Active Weather
0,2022-01-01,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,40.640000,-73.778610,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,33.942500,-118.408060,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,41.976944,-87.908060,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,35.213610,-80.949165,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,33.636665,-84.427780,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,Southwest Air,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,33.434166,-112.011665,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,Southwest Air,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,35.042500,-89.976670,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,Southwest Air,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,37.618890,-122.375560,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,Southwest Air,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,33.636665,-84.427780,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,Southwest Air,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,39.717224,-86.294720,N7836A,B737,1999,7.22,4.0,1.0

In [88]:
Clean_flightdata_df

,Flight Date,Carrier,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,LATITUDE,LONGITUDE,Tail Number,ICAO Type,Year of Manufacture,Temperature,Cloud Cover,Active Weather
0,2022-01-01,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,40.640000,-73.778610,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,33.942500,-118.408060,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,41.976944,-87.908060,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,35.213610,-80.949165,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,33.636665,-84.427780,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,Southwest Air,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,33.434166,-112.011665,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,Southwest Air,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,35.042500,-89.976670,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,Southwest Air,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,37.618890,-122.375560,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,Southwest Air,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,33.636665,-84.427780,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,Southwest Air,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,39.717224,-86.294720,N7836A,B737,1999,7.22,4.0,1.0