In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
#Import flight data csv
flightdata_file="../Project1/CompleteData.csv"

In [3]:
#Read csv file with Pandas
flightdata_df=pd.read_csv(flightdata_file)

flightdata_df.head()

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,8.89,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,0.61,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,0.61,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,18.28,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0

In [4]:
#list of all columns
flightdata_df.columns

Index(['FL_DATE', 'DEP_HOUR', 'MKT_UNIQUE_CARRIER', 'MKT_CARRIER_FL_NUM',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'TAIL_NUM', 'ORIGIN', 'DEST',
       'DEP_TIME', 'CRS_DEP_TIME', 'TAXI_OUT', 'DEP_DELAY', 'AIR_TIME',
       'DISTANCE', 'CANCELLED', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'MESONET_STATION', 'YEAR OF MANUFACTURE', 'MANUFACTURER', 'ICAO TYPE',
       'RANGE', 'WIDTH', 'WIND_DIR', 'WIND_SPD', 'WIND_GUST', 'VISIBILITY',
       'TEMPERATURE', 'DEW_POINT', 'REL_HUMIDITY', 'ALTIMETER',
       'LOWEST_CLOUD_LAYER', 'N_CLOUD_LAYER', 'LOW_LEVEL_CLOUD',
       'MID_LEVEL_CLOUD', 'HIGH_LEVEL_CLOUD', 'CLOUD_COVER', 'ACTIVE_WEATHER'],
      dtype='object')

In [5]:
flightdata_df.describe

<bound method NDFrame.describe of             FL_DATE  DEP_HOUR MKT_UNIQUE_CARRIER  MKT_CARRIER_FL_NUM  \
0        2022-01-01         6                 AA                   1
1        2022-01-01         8                 AA                  10
2        2022-01-01         0                 AA                1003
3        2022-01-01         9                 AA                1004
4        2022-01-01        23                 AA                1007
...             ...       ...                ...                 ...
6954631  2022-12-31        12                 WN                 994
6954632  2022-12-31        19                 WN                 997
6954633  2022-12-31         0                 WN                 998
6954634  2022-12-31        10                 WN                 999
6954635  2022-12-31         7                 WN                 999

        OP_UNIQUE_CARRIER  OP_CARRIER_FL_NUM TAIL_NUM ORIGIN DEST  \
0                      AA                  1   N106NN    JFK  LAX
1                      AA                 10   N101NN    LAX  JFK
2                      AA               1003   N830NN    STL  ORD
3                      AA               1004   N805NN    ORD  FLL
4                      AA               1007   N870NN    CLT  STL
...                   ...                ...      ...    ...  ...
6954631                WN                994   N8566Z    PHX  ABQ
6954632                WN                997   N486WN    MEM  MCO
6954633                WN                998   N448WN    SFO  BUR
6954634                WN                999   N7836A    ATL  MIA
6954635                WN                999   N7836A    IND  ATL

                    DEP_TIME  ... DEW_POINT  REL_HUMIDITY  ALTIMETER  \
0        2022-01-01 06:57:00  ...      8.89         96.69      29.92
1        2022-01-01 08:57:00  ...      0.61         44.92      29.87
2        2022-01-01 00:00:00  ...       NaN           NaN        NaN
3        2022-01-01 09:37:00  ...      0.61         89.09      29.75
4        2022-01-01 23:00:00  ...     18.28         89.81      29.79
...                      ...  ...       ...           ...        ...
6954631  2022-12-31 12:37:00  ...      8.28         85.48      30.02
6954632  2022-12-31 19:19:00  ...     11.72         90.29      29.95
6954633  2022-12-31 00:00:00  ...     14.39         89.52      29.91
6954634  2022-12-31 10:23:00  ...     12.22         93.32      30.02
6954635  2022-12-31 07:57:00  ...      6.72         96.63      29.89

         LOWEST_CLOUD_LAYER  N_CLOUD_LAYER  LOW_LEVEL_CLOUD  MID_LEVEL_CLOUD  \
0                     300.0            2.0              1.0              0.0
1                    4800.0            1.0              1.0              0.0
2                       NaN            NaN              NaN              NaN
3                     500.0            1.0              1.0              0.0
4                    1500.0            3.0              1.0              0.0
...                     ...            ...              ...              ...
6954631              5000.0            2.0              1.0              1.0
6954632               700.0            1.0              1.0              0.0
6954633               700.0            3.0              1.0              0.0
6954634              8500.0            3.0              0.0              1.0
6954635               400.0            1.0              1.0              0.0

         HIGH_LEVEL_CLOUD  CLOUD_COVER ACTIVE_WEATHER
0                     0.0          4.0            0.0
1                     0.0          2.0            0.0
2                     NaN          NaN            NaN
3                     0.0          4.0            1.0
4                     1.0          3.0            0.0
...                   ...          ...            ...
6954631               0.0          3.0            0.0
6954632               0.0          4.0            0.0
6954633               0.0          4.0            0.0
6954634               1.0          4.0            0.0
6954635               0.0          4.0            1.0

[6954636 rows x 40 columns]>

In [6]:
na_df = flightdata_df.isna().sum()
na_df

FL_DATE                    0
DEP_HOUR                   0
MKT_UNIQUE_CARRIER         0
MKT_CARRIER_FL_NUM         0
OP_UNIQUE_CARRIER          0
OP_CARRIER_FL_NUM          0
TAIL_NUM                   0
ORIGIN                     0
DEST                       0
DEP_TIME                   0
CRS_DEP_TIME               0
TAXI_OUT                   0
DEP_DELAY                  0
AIR_TIME                   0
DISTANCE                   0
CANCELLED                  0
LATITUDE                   0
LONGITUDE                  0
ELEVATION                  0
MESONET_STATION            0
YEAR OF MANUFACTURE        0
MANUFACTURER               0
ICAO TYPE                  0
RANGE                      9
WIDTH                      0
WIND_DIR               32789
WIND_SPD               32789
WIND_GUST              32789
VISIBILITY             32789
TEMPERATURE            32789
DEW_POINT              32789
REL_HUMIDITY           32789
ALTIMETER              32789
LOWEST_CLOUD_LAYER     32789
N_CLOUD_LAYER          32789
LOW_LEVEL_CLOUD        32789
MID_LEVEL_CLOUD        32789
HIGH_LEVEL_CLOUD       32789
CLOUD_COVER            32789
ACTIVE_WEATHER         32789
dtype: int64

In [7]:
#Working Project df with valuable data
Project_flightdata_df=flightdata_df[['FL_DATE','OP_UNIQUE_CARRIER','ORIGIN', 'DEST','DEP_TIME', 'CRS_DEP_TIME', 'TAXI_OUT', 'DEP_DELAY', 'AIR_TIME',
       'DISTANCE', 'CANCELLED','TAIL_NUM','ICAO TYPE', 'YEAR OF MANUFACTURE','TEMPERATURE', 'CLOUD_COVER', 'ACTIVE_WEATHER']]

Project_flightdata_df.head()

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,DEST,DEP_TIME,CRS_DEP_TIME,TAXI_OUT,DEP_DELAY,AIR_TIME,DISTANCE,CANCELLED,TAIL_NUM,ICAO TYPE,YEAR OF MANUFACTURE,TEMPERATURE,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,AA,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,AA,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
2,2022-01-01,AA,STL,ORD,2022-01-01 00:00:00,2022-01-01 07:05:00,0,0,0,258,2,N830NN,B738,2010,NaN,NaN,NaN
3,2022-01-01,AA,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,AA,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0

In [8]:
#Renaming Columns
Project_flightdata_df= Project_flightdata_df.rename(columns={'FL_DATE': 'Flight Date', 'OP_UNIQUE_CARRIER': 'Airline','DEST':'Destination','DEP_TIME':'Departure Time','CRS_DEP_TIME':'CRS Departure Time','TAXI_OUT':'Taxi Out','DEP_DELAY':'Departure Delay','AIR_TIME':'Air Time','DISTANCE':'Distance','CANCELLED':'Cancelled','TAIL_NUM':'Tail Number','ICAO TYPE':'ICAO Type', 'YEAR OF MANUFACTURE':'Manufacture Year','TEMPERATURE':'Temperature','CLOUD_COVER':'Cloud Cover','ACTIVE_WEATHER':'Active Weather'})

In [9]:
na_df2=Project_flightdata_df.isna().sum()
na_df2

Flight Date               0
Airline                   0
ORIGIN                    0
Destination               0
Departure Time            0
CRS Departure Time        0
Taxi Out                  0
Departure Delay           0
Air Time                  0
Distance                  0
Cancelled                 0
Tail Number               0
ICAO Type                 0
Manufacture Year          0
Temperature           32789
Cloud Cover           32789
Active Weather        32789
dtype: int64

In [10]:
#Cleaned Flight Dataset
Clean_flightdata_df=Project_flightdata_df.dropna()
Clean_flightdata_df

,Flight Date,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,AA,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,AA,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,AA,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,AA,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,AA,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,WN,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,WN,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,WN,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,WN,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,WN,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0

In [11]:
Clean_flightdata_df['Airline'].unique()

array(['AA', 'OO', 'MQ', 'YX', 'OH', 'YV', 'PT', 'AS', 'QX', 'B6', 'DL',
       '9E', 'F9', 'G4', 'HA', 'NK', 'UA', 'ZW', 'G7', 'C5', 'WN'],
      dtype=object)

In [12]:
Clean_flightdata_df

,Flight Date,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,AA,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,AA,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,AA,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,AA,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,AA,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,WN,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,WN,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,WN,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,WN,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,WN,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0

In [13]:
Clean_flightdata_df['Airline']=Clean_flightdata_df['Airline'].replace({'AA': 'American Airlines', 'OO': 'SKYWEST','MQ':'Envoy Air', 'YX':'Republic Airways', 'OH':'PSA Airlines', 'YV':'Mesa Airlines', 'PT':'Piedmont Airlines', 'AS':'Alaska Airlines', 'QX':'Horizon Air', 'B6':'JetBlue', 'DL':'Delta Airlines',
       '9E':'Endeavor Air', 'F9':'Frontier Flight', 'G4':'Allegiant Air', 'HA':'Hawaiian Airlines', 'NK':'Spirit Airlines', 'UA':'United Airlines', 'ZW':'Air Wisconsin', 'G7':'Gojet', 'C5':'Commute Air', 'WN':'Southwest Air'})

Clean_flightdata_df

c:\Users\evan-\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Flight Date,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,Southwest Air,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,Southwest Air,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,Southwest Air,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,Southwest Air,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,Southwest Air,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0

In [14]:
Clean_flightdata_df

,Flight Date,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,Southwest Air,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,Southwest Air,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,Southwest Air,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,Southwest Air,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,Southwest Air,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0

In [17]:
origin = Clean_flightdata_df['ORIGIN'].unique()
destination = Clean_flightdata_df['Destination'].unique()

print(origin)

['JFK' 'LAX' 'ORD' 'CLT' 'ATL' 'DFW' 'STT' 'PHL' 'AUS' 'LAS' 'SJC' 'HNL'
 'DTW' 'LGA' 'MIA' 'TUS' 'MCO' 'IND' 'BOS' 'SAN' 'SNA' 'JAX' 'STL' 'PHX'
 'RDU' 'TUL' 'EWR' 'BNA' 'DCA' 'DSM' 'FLL' 'ELP' 'OGG' 'DEN' 'MSY' 'IAD'
 'SFO' 'BWI' 'BUR' 'ROC' 'PBI' 'RNO' 'EYW' 'EUG' 'CLE' 'TPA' 'CMH' 'RSW'
 'STX' 'SJU' 'SLC' 'MEM' 'MCI' 'MSP' 'ONT' 'ABQ' 'BDL' 'GEG' 'CVG' 'IAH'
 'SEA' 'RIC' 'SMF' 'ILM' 'GSP' 'JAC' 'SAT' 'BHM' 'PVD' 'SBA' 'CHS' 'FAT'
 'BUF' 'MSO' 'PSP' 'OKC' 'EGE' 'PDX' 'PIT' 'ORF' 'SRQ' 'GRR' 'ALB' 'GUC'
 'HDN' 'MFE' 'ICT' 'BZN' 'KOA' 'SAV' 'OMA' 'MSN' 'MTJ' 'MKE' 'LIH' 'PNS'
 'PWM' 'SYR' 'GSO' 'ASE' 'GJT' 'YUM' 'BIS' 'TYS' 'HRL' 'IDA' 'TRI' 'SAF'
 'RDM' 'MHT' 'ACV' 'SGU' 'COS' 'SHV' 'SJT' 'LGB' 'GNV' 'SBN' 'FSM' 'ROW'
 'FWA' 'FSD' 'BTR' 'BFL' 'CRP' 'DRO' 'FLG' 'SBP' 'HSV' 'HPN' 'LIT' 'CAE'
 'EVV' 'TOL' 'XNA' 'SGF' 'BRO' 'GGG' 'LRD' 'GPT' 'PIA' 'AZO' 'JAN' 'LAW'
 'ABI' 'LCH' 'CHA' 'LSE' 'BOI' 'TXK' 'TYR' 'TLH' 'MGM' 'MOB' 'SWO' 'AEX'
 'MRY' 'GCK' 'GRI' 'LEX' 'CMI' 'SDF' 'RST' 'SPI' 'ACT' 'COU' 'LBB' 'GRK'
 'MLU' 'DAY' 'CLL' 'TVC' 'MQT' 'MYR' 'MDT' 'BPT' 'BIL' 'MHK' 'AVL' 'LFT'
 'VPS' 'DRT' 'SPS' 'MAF' 'MLI' 'LAN' 'CWA' 'DBQ' 'BTV' 'CHO' 'ROA' 'ATW'
 'HHH' 'AVP' 'ABE' 'CAK' 'ERI' 'BGR' 'FNT' 'DAB' 'MLB' 'CSG' 'ECP' 'AGS'
 'EWN' 'CRW' 'OAJ' 'FAY' 'CID' 'MFR' 'HOU' 'AMA' 'RAP' 'BMI' 'PHF' 'PGV'
 'LYH' 'FLO' 'HTS' 'ITH' 'ART' 'SBY' 'ISP' 'ORH' 'SCE' 'ANC' 'FAI' 'OAK'
 'OTZ' 'YKM' 'GTF' 'RDD' 'STS' 'ALW' 'PSC' 'PAE' 'PUW' 'EAT' 'FCA' 'BLI'
 'HLN' 'DAL' 'BRW' 'JNU' 'KTN' 'SIT' 'BQN' 'FAR' 'GRB' 'MOT' 'ELM' 'LWS'
 'ESC' 'ABR' 'APN' 'CIU' 'TWF' 'XWA' 'RHI' 'IMT' 'BTM' 'BJI' 'PLN' 'INL'
 'BRD' 'CDC' 'CPR' 'LNK' 'PIH' 'DLH' 'BQK' 'MDW' 'GFK' 'ABY' 'MBS' 'DHN'
 'VLD' 'GTR' 'BGM' 'SWF' 'TTN' 'PGD' 'PIE' 'SFB' 'AZA' 'STC' 'RFD' 'BLV'
 'LCK' 'PSM' 'PVU' 'PBG' 'USA' 'SCK' 'ITO' 'ACY' 'LBE' 'GUM' 'SPN' 'COD'
 'DDC' 'PRC' 'BFF' 'CGI' 'CYS' 'JLN' 'SUX' 'EAU' 'GCC' 'RKS' 'SLN' 'LBF'
 'DVL' 'JMS' 'MCW' 'SHD' 'PUB' 'SHR' 'PAH' 'VEL' 'RIW' 'HYS' 'CKB' 'CNY'
 'MEI' 'JST' 'BIH' 'ALO' 'OME' 'DLG' 'SUN' 'AKN' 'ADQ' 'CDV' 'PSG' 'WRG'
 'HIB' 'EKO' 'SMX' 'IAG' 'HGR' 'PQI' 'HOB' 'DIK' 'ALS' 'CMX' 'EAR' 'MKG'
 'DEC' 'LAR' 'OGS' 'LBL' 'PIB' 'PIR' 'FOD' 'ATY' 'VCT' 'TBN' 'OTH' 'SCC'
 'ILG' 'OGD' 'YAK' 'ADK' 'PPG' 'OWB' 'LWB' 'ACK' 'WYS' 'BKG' 'GST' 'MVY'
 'HYA' 'BET' 'PSE']

In [22]:
df = Clean_flightdata_df

In [31]:
airport_list = ['JFK', 'LAX', 'ORD', 'CLT', 'ATL', 'DFW', 'STT', 'PHL', 'AUS', 'LAS', 'SJC', 'HNL',
                'DTW', 'LGA', 'MIA', 'TUS', 'MCO', 'IND', 'BOS', 'SAN', 'SNA', 'JAX', 'STL', 'PHX',
                'RDU', 'TUL', 'EWR', 'BNA', 'DCA', 'DSM', 'FLL', 'ELP', 'OGG', 'DEN', 'MSY', 'IAD',
                'SFO', 'BWI', 'BUR', 'ROC', 'PBI', 'RNO', 'EYW', 'EUG', 'CLE', 'TPA', 'CMH', 'RSW',
                'STX', 'SJU', 'SLC', 'MEM', 'MCI', 'MSP', 'ONT', 'ABQ', 'BDL', 'GEG', 'CVG', 'IAH',
                'SEA', 'RIC', 'SMF', 'ILM', 'GSP', 'JAC', 'SAT', 'BHM', 'PVD', 'SBA', 'CHS', 'FAT']

In [34]:
trim_df = df.loc[df['ORIGIN'].isin(airport_list)]

In [40]:
trim_df['ORIGIN'].nunique()

72

In [45]:
trim_df.dtypes

Flight Date            object
Airline                object
ORIGIN                 object
Destination            object
Departure Time         object
CRS Departure Time     object
Taxi Out                int64
Departure Delay         int64
Air Time                int64
Distance                int64
Cancelled               int64
Tail Number            object
ICAO Type              object
Manufacture Year        int64
Temperature           float64
Cloud Cover           float64
Active Weather        float64
dtype: object

In [51]:
Flight_Date = pd.to_datetime(trim_df["Flight Date"])

In [52]:
df['Flight Date'] = Flight_Date

c:\Users\evan-\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
trim_df[['Flight Day', 'Flight Month', 'Flight Year']] = trim_df['Flight Date'].str.split('-', expand = True)

c:\Users\evan-\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [57]:
trim_df

,Flight Date,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather,Flight Day,Flight Month,Flight Year
0,2022-01-01,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0,2022,01,01
1,2022-01-01,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0,2022,01,01
3,2022-01-01,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0,2022,01,01
4,2022-01-01,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0,2022,01,01
5,2022-01-01,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0,2022,01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,Southwest Air,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0,2022,12,31
6954632,2022-12-31,Southwest Air,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0,2022,12,31
6954633,2022-12-31,Southwest Air,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0,2022,12,31
6954634,2022-12-31,Southwest Air,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0,2022,12,31
6954635,2022-12-31,Southwest Air,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0,2022,12,31

In [58]:
trim_df= trim_df.rename(columns={'Flight Day': 'Flight Year', 'Flight Year': 'Flight Day'})

In [60]:
trim_df[['Flight Date','Flight Day', 'Flight Month', 'Flight Year', 'Airline','ORIGIN','Destination','Departure Time','CRS Departure Time',
        'Taxi Out', 'Departure Delay', 'Air Time', 'Distance','Cancelled', 'Tail Number','ICAO Type','Manufacture Year','Temperature',
        'Cloud Cover','Active Weather']]

,Flight Date,Flight Day,Flight Month,Flight Year,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,01,01,2022,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,01,01,2022,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,01,01,2022,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,01,01,2022,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,01,01,2022,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,31,12,2022,Southwest Air,PHX,ABQ,2022-12-31 12:37:00,2022-12-31 12:40:00,11,-3,42,328,0,N8566Z,B738,2018,10.61,3.0,0.0
6954632,2022-12-31,31,12,2022,Southwest Air,MEM,MCO,2022-12-31 19:19:00,2022-12-31 17:35:00,5,104,87,684,0,N486WN,B737,2004,13.28,4.0,0.0
6954633,2022-12-31,31,12,2022,Southwest Air,SFO,BUR,2022-12-31 00:00:00,2022-12-31 19:35:00,0,0,0,326,2,N448WN,B737,2003,16.11,4.0,0.0
6954634,2022-12-31,31,12,2022,Southwest Air,ATL,MIA,2022-12-31 10:23:00,2022-12-31 10:25:00,28,-2,96,594,0,N7836A,B737,1999,13.28,4.0,0.0
6954635,2022-12-31,31,12,2022,Southwest Air,IND,ATL,2022-12-31 07:57:00,2022-12-31 08:00:00,10,-3,72,432,0,N7836A,B737,1999,7.22,4.0,1.0

In [61]:
month = ['01']

In [62]:
jan_df = trim_df.loc[trim_df['Flight Month'].isin(month)]

In [63]:
jan_df

,Flight Date,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather,Flight Year,Flight Month,Flight Day
0,2022-01-01,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0,2022,01,01
1,2022-01-01,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0,2022,01,01
3,2022-01-01,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0,2022,01,01
4,2022-01-01,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0,2022,01,01
5,2022-01-01,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0,2022,01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551986,2022-01-31,Southwest Air,DCA,STL,2022-01-31 18:50:00,2022-01-31 18:55:00,22,-5,108,719,0,N908WN,B737,2008,2.78,4.0,0.0,2022,01,31
551987,2022-01-31,Southwest Air,STL,LIT,2022-01-31 21:11:00,2022-01-31 21:20:00,7,-9,44,296,0,N908WN,B737,2008,10.61,2.0,0.0,2022,01,31
551988,2022-01-31,Southwest Air,AUS,MDW,2022-01-31 00:00:00,2022-01-31 07:00:00,0,0,0,972,1,N215WN,B737,2005,17.22,1.0,0.0,2022,01,31
551990,2022-01-31,Southwest Air,SMF,SNA,2022-01-31 13:55:00,2022-01-31 13:55:00,10,0,65,404,0,N466WN,B737,2004,4.39,2.0,1.0,2022,01,31
551991,2022-01-31,Southwest Air,SNA,OAK,2022-01-31 15:52:00,2022-01-31 15:55:00,7,-3,60,371,0,N466WN,B737,2004,7.78,0.0,0.0,2022,01,31

In [64]:
january_data = jan_df.to_csv('January Flight Data.csv', index = False)

In [65]:
jan_df[['Flight Date','Flight Day', 'Flight Month', 'Flight Year', 'Airline','ORIGIN','Destination','Departure Time','CRS Departure Time',
        'Taxi Out', 'Departure Delay', 'Air Time', 'Distance','Cancelled', 'Tail Number','ICAO Type','Manufacture Year','Temperature',
        'Cloud Cover','Active Weather']]

,Flight Date,Flight Day,Flight Month,Flight Year,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,01,01,2022,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,01,01,2022,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
3,2022-01-01,01,01,2022,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
4,2022-01-01,01,01,2022,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
5,2022-01-01,01,01,2022,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551986,2022-01-31,31,01,2022,Southwest Air,DCA,STL,2022-01-31 18:50:00,2022-01-31 18:55:00,22,-5,108,719,0,N908WN,B737,2008,2.78,4.0,0.0
551987,2022-01-31,31,01,2022,Southwest Air,STL,LIT,2022-01-31 21:11:00,2022-01-31 21:20:00,7,-9,44,296,0,N908WN,B737,2008,10.61,2.0,0.0
551988,2022-01-31,31,01,2022,Southwest Air,AUS,MDW,2022-01-31 00:00:00,2022-01-31 07:00:00,0,0,0,972,1,N215WN,B737,2005,17.22,1.0,0.0
551990,2022-01-31,31,01,2022,Southwest Air,SMF,SNA,2022-01-31 13:55:00,2022-01-31 13:55:00,10,0,65,404,0,N466WN,B737,2004,4.39,2.0,1.0
551991,2022-01-31,31,01,2022,Southwest Air,SNA,OAK,2022-01-31 15:52:00,2022-01-31 15:55:00,7,-3,60,371,0,N466WN,B737,2004,7.78,0.0,0.0