In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

january_flight_data = pd.read_csv("January Flight Data.csv")
january_flight_data.head()

,Flight Date,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather,Flight Year,Flight Month,Flight Day
0,2022-01-01,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0,2022,1,1
1,2022-01-01,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0,2022,1,1
2,2022-01-01,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0,2022,1,1
3,2022-01-01,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0,2022,1,1
4,2022-01-01,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0,2022,1,1

In [5]:
january_flight_data_df= january_flight_data[['Flight Date','Flight Day', 'Flight Month', 'Flight Year', 'Airline','ORIGIN','Destination','Departure Time','CRS Departure Time',
        'Taxi Out', 'Departure Delay', 'Air Time', 'Distance','Cancelled', 'Tail Number','ICAO Type','Manufacture Year','Temperature',
        'Cloud Cover','Active Weather']]
january_flight_data_df.head()

,Flight Date,Flight Day,Flight Month,Flight Year,Airline,ORIGIN,Destination,Departure Time,CRS Departure Time,Taxi Out,Departure Delay,Air Time,Distance,Cancelled,Tail Number,ICAO Type,Manufacture Year,Temperature,Cloud Cover,Active Weather
0,2022-01-01,1,1,2022,American Airlines,JFK,LAX,2022-01-01 06:57:00,2022-01-01 07:00:00,19,-3,347,2475,0,N106NN,A321,2014,9.39,4.0,0.0
1,2022-01-01,1,1,2022,American Airlines,LAX,JFK,2022-01-01 08:57:00,2022-01-01 09:00:00,20,-3,270,2475,0,N101NN,A321,2013,12.22,2.0,0.0
2,2022-01-01,1,1,2022,American Airlines,ORD,FLL,2022-01-01 09:37:00,2022-01-01 18:30:00,23,907,166,1182,0,N805NN,B738,2009,2.22,4.0,1.0
3,2022-01-01,1,1,2022,American Airlines,CLT,STL,2022-01-01 23:00:00,2022-01-01 22:40:00,16,20,104,575,0,N870NN,B738,2011,20.00,3.0,0.0
4,2022-01-01,1,1,2022,American Airlines,ATL,DFW,2022-01-01 16:24:00,2022-01-01 16:29:00,30,-5,114,731,0,N561UW,A321,2012,21.72,4.0,1.0